body {
    margin: 0;
    padding: 0;
    background-color: #FAFAFA;
    text-align: center;
    font-family: Lucida grande;
    src:url(Fonts/Lucida%20grande.ttf);
    
}

h2 {
    padding: 10px;
}


#social {
    height: 55px;
}
#social img {
    width: 55px;
}


#container-fluid {
    
    padding: 0 10%;
  
    
}

#frmContact {
    
    width: 100%;
    height: 100%;  
    border: 0.1px solid #5DADE2;
    position: absolute;
    border-radius: 5px;
    background-color: #F3F3F4;
    box-shadow:  0 0 20px 0 #5DADE2; 
    text-align: left;
    padding: 15px;
    z-index: 10;
}

#mail-status {
    
    float: left;
    width: auto;
    height: inherit;
    
}


#text {
    height: 200px;
    width: 200px;
}
input {
    
    float: right;
    
}

#frmContact h2 {
    font-family: lucida grande;
    font-size: 14px;
    color: coral;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    
}

/* Style the submit button with a specific background color etc */
#sub-btn {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
}

/* When moving the mouse over the submit button, add a darker green color */
#sub-btn:hover {
    background-color: #45a049;
}

#back-btn {
    background-color: #FF9900;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    margin-left: 5%;
    
}

#back-btn:hover {
    filter:brightness(96%);
}

#email-btn {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Add a background color and some padding around the form */
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

/* main NavBar */

#social {
    float: right;
    height: auto;
    padding: 5px;
}

#social img {
    width: 30px;
    transition: all 0.2s;
}

#social img:hover {
    filter: brightness(80%);
    transition: all 0.2s;
}

#text {
    height: 300px;
    width: 300px;
}

#navbar {
    overflow: hidden;
    height: 30px;
    float: left;
    width: 30%;
    padding: 5px;
    
}
#navbar li {
    display: inline;
    padding: 10px;
}

#navbar a {
    transition: all 0.2s;
    text-decoration: none;
    color: dimgrey;
    filter: blur(0.5px);
    
}

#navbar a:hover {
    transition: all 0.2s;
    color: #3E0402;
    filter: blur();
    letter-spacing: 2px; 
}

#scroll-nav-bar { /* Create static nav bar on scroll */
  background-color:  #22252A;
  position: fixed;
  text-align: center;
  width: 100%;
  transition: all 0.3s;
  height: auto;
  opacity: 0.85;
  z-index: 10;
   
}

#scroll-nav-bar li {
  display: inline;

}

#scroll-nav-bar a {
  text-decoration: none;
  color: white;
  padding: 10px;
  transition: all 0.3s;
  filter: blur(0.5px);
}

#scroll-nav-bar a:hover {
  font-size: 17px;
  color: #B22222;
  letter-spacing: 5px;
  transition: all 0.3s;
  filter: blur();
}

/*  NavBar */

#sidebar-btn {
    display: none;
    float: left;
    position: fixed;
    z-index: 10;
}

#mobileNav {
	background: #FAFAFA;
	width: 100%;
	height: auto;
    margin: 0;
    margin-top: 5px;  
    padding-left: -40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: fixed;
    z-index: 10;
 
}

#mobileNav ul {
    padding-left: 0;
}

#mobileNav ul li {
	list-style: none;
    display: inline;
    background-color: #FAFAFA;
   
}

#mobileNav ul li a {
	background: #FAFAFA;
	color: black;
	display: block;
	padding-top: 10px;
	text-decoration: none;
    text-align: center;

}

#jumbotron { /*Main parallax header */

background-image: url("images/jumbotron.jpg");
min-height: 720px;
width:  100%;
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
box-shadow:  0 0 12px 0 #B8B8B8;
}

#jumboText h1 {
    padding-top: 10%;
    color: #3E0402;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 3.5px;  
}

#aboutSection img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  padding: 10px; 
}

#info {
    padding-top: 20px;
}

#info img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

#info h2 {
    padding-top: 10px;
}

#services ul {
    list-style: none;
}

#map {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

#reviews img {
    margin-bottom: 30px;
    
}

#reviews img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 0.7px silver solid;
}

#review p {
    margin-bottom: 15px;
    padding-top: 20px;
}


#test {
    margin-bottom: 25px;
}

.footer {
    background-color: #22252A;
    min-height: auto;
    padding-top: 100px;
    color: aliceblue;
    box-shadow:  0 0 12px 0 #B8B8B8;
    opacity: 0.85;
}