body {
    margin: 0;
    padding: 0;
    background-color: #FAFAFA;
    text-align: center;
    font-family: Lucida grande;
    
}

h2 {
    padding: 10px;
}


#social {
    height: 55px;
}
#social img {
    width: 55px;
}


#container-fluid {
    
    padding: 0 10%;
    
}


/* main NavBar */

#navbar {
    overflow: hidden;
    height: 30px
}
#navbar li {
    display: inline;
    padding: 10px;
}

#navbar a {
    transition: all 0.2s;
    text-decoration: none;
    color: dimgrey;
    filter: blur(0.5px);
    
}

#navbar a:hover {
    transition: all 0.2s;
    color: #3E0402;
    filter: blur();
    letter-spacing: 2px;
   
}

.display {
    display: block;
}


#scroll-nav-bar { /* Create static nav bar on scroll */
  background-color:  #22252A;
  position: fixed;
  text-align: center;
  width: 100%;
  transition: all 0.3s;
  height: auto;
  opacity: 0.85;
  z-index: 10;
   
}

#scroll-nav-bar li {
  display: inline;
}

#scroll-nav-bar a {
  text-decoration: none;
  color: white;
  padding: 10px;
  transition: all 0.3s;
  filter: blur(0.5px);
}

#scroll-nav-bar a:hover {
  font-size: 17px;
  color: #B22222;
  letter-spacing: 5px;
  transition: all 0.3s;
  filter: blur();
}

/*  NavBar */


.trans {
    transition: all 0.2s;
}


#sidebar-btn {
    display: none;
    float: left;
    position: fixed;
    z-index: 10;
}

#mobileNav {
	background: #FAFAFA;
	width: 100%;
	height: auto;
    margin: 0;
    margin-top: 5px;  
    padding-left: -40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: fixed;
    z-index: 10;
 
}

#mobileNav ul {
    padding-left: 0;
}

#mobileNav ul li {
	list-style: none;
    display: inline;
    background-color: #FAFAFA;
   
}

/* set background colour of navbar */

#mobileNav ul li a {
	background: #FAFAFA;
	color: black;
	display: block;
	padding-top: 10px;
	text-decoration: none;
    text-align: center;

}

#jumbotron { /*Main parallax header */

background-image: url("images/jumbotron.jpg");
min-height: 1080px;
width:  100%;
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
box-shadow:  0 0 12px 0 #B8B8B8;
}


/* Portrait and Landscape SAMSUNG GALAXY S5 */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {
      
#container-fluid {
    margin: 0 1%;
}

#scroll-nav-bar {
    opacity: 0;
}

#navbar {
    display: none;
}   
    
#sidebar-btn img{
    width: 25px;
}
    
#sidebar-btn {
    display:block;
    margin: 0;
    padding: 20px;
}
    
.container {
    padding: 0;
}

#jumbotron {
    min-height: 200px;
}

#services ul {
    text-align: left;
    list-style: decimal
}   

}

/* Portrait and Landscape iPhone 5/5s*/
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
      
#container-fluid {
    margin: 0 1%;
}

#scroll-nav-bar {
    opacity: 0;
}

#navbar {
    display: none;
}   
    
#sidebar-btn img{
    width: 25px;
}
    
#sidebar-btn {
    display:block;
    margin: 0;
    padding: 20px;
}
    
      #jumbotron h1 {
          font-size: 32px;
      }

#jumbotron {
    min-height: 200px;
}

#services ul {
    text-align: left;
    list-style: decimal
}

}

@media only screen /* Iphone 6/6s */ 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

#container-fluid {
    margin: 0 1%;
}

#scroll-nav-bar {
    opacity: 0;
}

#navbar {
    display: none;
}   
    
#sidebar-btn img{
    width: 25px;
}
    
#sidebar-btn {
    display:block;
    margin: 0;
    padding: 20px;
}
    
.container {
    padding: 0;
}

#jumbotron {
    min-height: 200px;
}

#services ul {
    text-align: left;
    list-style: decimal
}
      
}

/* Portrait and Landscape iPhone+ */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) {
      
      
#container-fluid {
    margin: 0 1%;
}

#scroll-nav-bar {
    opacity: 0;
}

#navbar {
    display: none;
}   
    
#sidebar-btn img{
    width: 25px;
}
    
#sidebar-btn {
    display:block;
    margin: 0;
    padding: 20px;
}
    
.container {
    padding: 0;
}

#jumbotron {
    min-height: 200px;
}

#services ul {
    text-align: left;
    list-style: decimal
}
      


}

/* ipads */
@media only screen 
   and (max-width : 1440px) 
   and (max-height : 2560px) {
  
#container-fluid {
margin: 0 1%;
}

#scroll-nav-bar {
    opacity: 0;
}

#navbar {
    display: none;
}   
    
#sidebar-btn img{
    width: 25px;
}
    
#sidebar-btn {
    display:block;
    margin: 0;
    padding: 20px;
}
    
.container {
    padding: 0;
}

#jumbotron {
    min-height: 150px;
}

#services ul {
    text-align: left;
    list-style: decimal
}
   
}



#jumboText h1 {
    padding-top: 10%;
    color: #3E0402;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 3.5px;
     
}


#aboutSection img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  padding: 10px; 
}

#info {
    padding-top: 20px;
}

#info img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

#info h2 {
    padding-top: 10px;
}

#services ul {
    list-style: none;
}


#map {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

#reviews {
    padding-bottom: 20px;
    
}

#reviews img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 0.7px silver solid;
}

#reviewSections p {
    margin-bottom: 15px;
}

.footer {
    background-color: #555555;
    min-height: auto;
    padding-top: 10px;
    color: aliceblue;
    box-shadow:  0 0 12px 0 #B8B8B8;
}
